<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- project default level -->
    <!--<logger name="com.albert.spring.mybatis" level="INFO" />-->

    <!--打印 MyBatis 的 SQL 到控制台 start -->
    <!--必须使用 DEBUG 级别-->
    <logger name="com.albert.spring.mybatis.dao.mapper" level="DEBUG">
        <appender-ref ref="console" />
    </logger>
    <!--打印 MyBatis 的 SQL 到控制台 end -->

    <root level="INFO">
        <appender-ref ref="console" />
    </root>
</configuration>