#container {
  height: 477px;
  margin: 0 auto;
  overflow: hidden;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: relative;
}
#container img {
  display: block;
  position: absolute;
  left: 0;
}
